body {
  width: 100%;
  margin: 0;
  background-color:white;
  color: black;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
}

nav {
  background-color:paleturquoise;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

nav a {
  color: black;
  margin: 1rem;
  text-decoration: none;
}

nav a:hover {
  color: darkslategrey;
}

nav a.login-button {
  color: white;
  margin: 1rem;
  padding: 8px 16px;
  border: none; 
  border-radius: 4px;
  background-color: darkcyan; 
  cursor: pointer;
  display: inline-block; 
}

nav a.login-button:hover {
  background-color: darkslategrey;
}

nav a.home {
  font-size: xx-large;
  color: darkcyan; 
  text-align: left;
}

