.Img {
  width: 400px;
  height: auto;
}

.Select {
  margin-right: 10px; 
  margin-bottom: 10px; 
  padding: 8px; 
  background-color:gainsboro;
  border-radius: 8px;
  color: black;
}

.Booking button {
    background-color:darkcyan; 
    color: white; 
    margin-top: 10px; 
    padding: 8px 12px; 
    cursor: pointer; 
    border: none;
  }
  
  .Booking button:hover {
    background-color:darkslategrey; 
  }
  