.Login {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login input {
  margin-right: 10px; 
  margin-bottom: 10px; 
  padding: 8px; 
  background-color:gainsboro;
  border-radius: 8px;
  color: black;
}

.Login button {
  background-color:darkcyan; 
  color: white; 
  padding: 8px 12px; 
  cursor: pointer; 
  border: none;
}

.Login button:hover {
  background-color:darkslategrey; 
}
