.SearchBar {
  padding: 10px;
  display: inline-block;
}

.SearchBar input {
  margin-right: 10px; 
  padding: 8px; 
  background-color:gainsboro;
  border-radius: 8px;
  color: black;
}

.SearchBar button {
  background-color:darkcyan; 
  color: white; 
  padding: 8px 12px; 
  cursor: pointer; 
  border: none;
}

.SearchBar button:hover {
  background-color:darkslategrey; 
}
