.Support {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Support input {
  margin-right: 10px; 
  margin-bottom: 10px; 
  padding: 8px; 
  background-color:gainsboro;
  border-radius: 8px;
  color: black;
}

.Support button {
  background-color:darkcyan; 
  color: white; 
  padding: 8px 12px; 
  cursor: pointer; 
  border: none;
}

.Support button:hover {
  background-color:darkslategrey; 
}

/*
.Text input {
  make the text box bigger or grow in size as you write in it.
}
*/